<div id="notifications" class="rounded-5 shadow-light hidden">
	<%= flash[:notice] || yield(:notices) %>
</div>

<div id="alerts" class="rounded-5 shadow-light hidden">
	<%= flash[:alert] || yield(:alerts) %>
</div>

<div id="messages" class="rounded-5 shadow-light hidden">
	<%= flash[:message] || yield(:messages) %>
</div>