$('#comments-listing').prepend("<%= escape_javascript(render :partial => 'comment', :locals => {:comment => @comment }) %>");
<% if @comment.persisted? %>
	$('.clearer').trigger('click');
	$('#comment_comment').trigger('keyup');
	//$('#com-<%= @comment.id %>').effect("highlight", {}, 3000);
	ViewComponents.Notification.put("<p class='notice top-message'><%= t('comments.messages.added') %></p>");
<% end %>