.mid-sheet {
	.styled-form {
		background-color: white;
	}
	
	.alert-zone, .styled-form {
		width: 600px;
	}
	
	.alert-zone {
		padding: 20px;
		background-color: #F0CABF;
		
		p {
			color: #9C3F43;
			padding: 0px;
			margin: 0px;
			font-weight: bold;
			display: inline-block;
			vertical-align: -5px;
		}
	}
}

.small-sheet {
	.styled-form {
		width: 350px;
		background-color: white;
	}
}

.styled-form {
	margin: 0 auto 0 auto;
	padding: 20px;
	
	a.back:hover {
		text-decoration: underline !important
	}
	
	h1 {
		color:#2C9941;
		text-align: right;
		margin-bottom: 50px;
		border-bottom: 2px solid #F2F2F2;
	}
	
	input:active, textarea:active, textarea:hover {
		border: 2px solid #D0D0D0;
		color: #878787;
	}
	
	label {
		font-weight: bold;
		color:#6D6D6D;
		margin-top: 5px;
		margin-right: 10px;
	}
	
	.field {
		padding: 8px;
	}
	
	input, textarea {
		font-family: calibri;
	  -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	  border-radius: 4px;
		color:#A1A1A1;
	  border: 2px solid #E9E9E9;
	  padding: 10px;
	  overflow: hidden;
		font-size: 15px;
		margin: 10px auto 0px auto;
		display: block;
	}
	
	.with-label {
		padding: 10px;
		display: inline-block;
	}
	
	input[type=submit] { 
		padding: 5px !important;
		margin-top: 30px !important;
		
		font-size: 15px;
		color: #ffffff !important;
		padding: 6px 12px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-shadow:
			0px 1px 0px #2B2B2B,
			0px 1px 0px #2B2B2B;
		-moz-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5);
		-webkit-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5);
		border: 1px solid #FFFDEF;
		
		background: -moz-linear-gradient(
			top,
			#71B1E0 0%,
			#547CA3);
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#71B1E0),
			to(#547CA3));
		border: 1px solid white;
	}
	
	input[type=submit]:hover {
		background: -moz-linear-gradient(
			top,
			#1D91E0 0%,
			#1E5991);
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#1D91E0),
			to(#1E5991));
	}
	
	.centered {
		width: 500px;
		margin: 0px auto 0px auto;
		input, textarea {
			margin-left: 0px; 
		}
	}
	
	.note-message {
		margin-top: 30px;
	}
	
	.note {	
		width: 90%;
		padding: 20px;
		border: 1px solid #F4F2EF;
	}
	.note-message, .field-counter {
		font-size: 14px;
		font-style: italic;
		color:#326A28;
	}
	
	.field-counter {
		text-align: right;
		padding: 10px;
	}
	
	.actions {
		a:hover {
			text-decoration: underline;
		}
		a {
			margin-right: 15px;
			font-size: 13px;
			color: #4C4C4C;
			font-weight: bold;
		}
		input {
			display: inline-block;
			padding: 0px;
			margin: 0px;
		}
	}
}


.field_with_errors label {
	color: #99474C;
}

.field_with_errors textarea:hover,
.field_with_errors input[type=text]:hover {
	border: 2px solid #99212C !important;
}

.field_with_errors textarea,
.field_with_errors input[type=text] {
	border: 2px solid #996063 !important;
}

#error_explanation {
	background-color: #FFEBE5;
}

#error_explanation h2 {
	padding: 10px;
	font-size: 15px;
	text-align: center;
	color:#994243;
}

#error_explanation ul li {
	font-size: 14px;
	color: #6A6A6A;
}