@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,600,400italic,300italic,800,800italic,700);

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;
}

html, body {width: 100%; height: 100%; overflow: hidden }
body {
	background: url('/assets/crosses.png');
	margin: 0px;
	font-family: 'Open Sans', 'Helvetica Neue', 'Trebuchet MS';
	background-color: #D5D5D5
}

a.personal {
	color: #F29721 !important;
}

.green-beam { color:#32A328 }
.grey-beam { color:#929292 }
.white-beam { color:white }

.centered {
	margin-left: auto;
	margin-right: auto;
}

#floating, #notification {
	z-index: 9999;
	position: fixed;
}

.rounded-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rounded-10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.ml-20 {
	margin-left: 40px;
}

.mb-10 {
	margin-bottom: 10px;
}

.rounded-bottom-5 {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.rounded-top-5 {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

a {
	text-decoration: none;
}
a:visited {
	color: grey;
}

a.back:hover {
	text-decoration: underline !important;
	color: #537DB6;
}

a.back {
	font-size: 14px;
}

.shadow-light {
	-moz-box-shadow: 0 0 5px #808080;
	-webkit-box-shadow: 0 0 5px #808080;
	box-shadow: 0 0 5px #808080;
}

.shadow-lighter {
	-moz-box-shadow: 0 0 8px #9E9E9E;
	-webkit-box-shadow: 0 0 8px #9E9E9E;
	box-shadow: 0 0 8px #9E9E9E;
}

.shadow-strong {
	-moz-box-shadow: 0 0 10px #1A1A1A;
	-webkit-box-shadow: 0 0 10px #1A1A1A;
	box-shadow: 0 0 10px #1A1A1A;
}

.to-right {
	float: right;
}

.to-left {
	float: left;
}

.inlined {
	display: inline-block !important;
}

.separator {
	height: 1px;
	background-color:#D0D0D0;
	margin: 5px;
}

.blue:hover{
	background: -moz-linear-gradient(
		top,
		#1D91E0 0%,
		#1E5991);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1D91E0),
		to(#1E5991));
}

.blue {
	background: -moz-linear-gradient(
		top,
		#71B1E0 0%,
		#547CA3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#71B1E0),
		to(#547CA3));
	border: 1px solid white;
}

.orange:hover {
	background: -moz-linear-gradient(
		top,
		#E08334 0%,
		#E0601C);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#E08334),
		to(#E0601C));
}

.orange {
	background: -moz-linear-gradient(
		top,
		#E0995C 0%,
		#E08631);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#E0995C),
		to(#E08631));
	border: 1px solid white;
}

.green-button {
	border: 1px solid white;
	background: -moz-linear-gradient(
		top,
		#227A2D 0%,
		#55A55B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#227A2D),
		to(#55A55B));
}

.green-button:hover {
	background: -moz-linear-gradient(
		top,
		#289435 0%,
		#55A55B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#289435),
		to(#55A55B));
}

.red-button:hover {
	background: -moz-linear-gradient(
		top,
		#BD514A 0%,
		#BD433E) !important;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#BD514A),
		to(#BD433E)) !important;
}

.red-button {
	background: -moz-linear-gradient(
		top,
		#BD8280 0%,
		#BD7979) !important;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#BD8280),
		to(#BD7979)) !important;
	border: 1px solid white !important;
}

.button {
		font-size: 13px;
		color: #ffffff !important;
		padding: 6px 12px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-shadow:
			0px 1px 0px #2B2B2B,
			0px 1px 0px #2B2B2B;
		-moz-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5);
		-webkit-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5);
		border: 1px solid #FFFDEF;
}

.spacer {
	height: 8px;
}

.poll-results .question .answers .value {
	padding: 5px 10px;
	background-color: #DEDEDE;
	opacity: 0.5;
	text-align: center;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.polls, .poll-results {
	padding: 10px;
	font-size: 13px;
}

.poll-results .question {
	margin-bottom: 10px;
}

.question label {
	width: 140px;
	font-weight: bold;
}

.question .answers .value {
	margin-right: 10px;
	width: 60px;
}

.question .answers,
.question .answers .value,
.question label,
.invite p {
	display: inline-block;
}

#container {
	width: 920px;
	padding-top: 50px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.mini-header h1 .type, #newitem h1 .type {
	font-size: 15px;
	margin-left: 8px;
	vertical-align: 2px;
	color: #EEE;
	background-color:#A6A6A6;
	padding: 0px 5px;
}

ul li, ul li * { display: inline-block }

.highest {
	background-color: #797979 !important;
	color: white;
	font-weight: bold;
	opacity: 1 !important;
}

.simplePagerContainer ul{ display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.simplePagerContainer ul li{ display:inline; }
.simplePagerContainer ul li a{ float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0; color: #45793B; background-color: white; }
.simplePagerContainer ul li a:hover, li.currentPage a {background-color:#ECECEC !important;}
.simplePagerContainer ul li.currentPage a{color:#999999;cursor:default;}
.simplePagerContainer ul li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.simplePagerContainer ul li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}

.modalview-bar-relative-centered {
	margin-left: -150px !important;
}