#notification {
	position: absolute;
	height: 30px;
	left: 50%;
	margin-left: -43px;
	width: 350px;
	top: 0px;
	padding: 10px 10px 5px 10px;
	background-color: black;

	display: none;

	p.notice { color: #B4E5A4 }
	
	p.alert { color: #E57C7F }
	
	p.top-message {
		font-weight: bold;
		margin-top: 2px;
		font-size: 13px;
		text-align: center;
	}

}