<% if @incident.persisted? %>
	ViewComponents.LeftBar.collapse();
	ViewComponents.Notification.put("<p class='notice success'><%= t('incidents.messages.saved') %></p>", {delay: 300});
	$.visit('#');
<% end %>