<% if @incident.destroyed? %>
	ViewComponents.LeftBar.collapse();
	ViewComponents.Notification.put("<p class='notice success'><%= t('incidents.messages.deleted') %></p>", {delay: 300});
	$.visit('#');
<% end %>



