$('#count_incidents').remove();
$('#origin').append("<%= escape_javascript render 'numbers' %>");
$('#list_incidents').remove();
$('#origin').append("<%= escape_javascript render 'listing' %>");

<% if @filtering %>
	ViewComponents.Notification.put("<p class='notice top-message'><%= t('incidents.messages.filtering_results') %></p>");
	$.visit('#results');
<% end %>
