<div class="actions to-right">
	<%= link_to t('actions.registrations.cancel'), users_cancel_auth_sign_up_path, :method => :delete %>
	<%= f.submit t('user_accounts.registrations.oauth.commit'), :class => "button green-button" %>
</div>
<div class="clear"></div>