<div class="mid-sheet">
	<div class="styled-form shadow-light">
		<h1><%=t 'user_accounts.registrations.oauth.facebook.new.title'%></h1>

		<%= form_for(@user, :as => :user, :url => users_auth_sign_up_path) do |f| %>
			<%= render :partial => 'form', :locals =>  {:f => f} %>
		  <%= render :partial => 'actions', :locals => {:f => f} %>
		<% end %>
	</div>
</div>