<div class="board centered shadow-lighter rounded-5">
	<h1>¿Qué hace funcionar a Wikicleta?</h1>
</div>

<div class="board centered shadow-lighter rounded-5">
	<ul class="green">
		<li>Amor a la bici</li>
		
		<li>¡Ver a más personas en bici!</li>
		<li>El sueño de tener ciudades más humanas para todos</li>
		
		<li>Arreglar nuestras ciudades mediante la computación</li>
	</ul>
	<div class="separator"></div>
	
	<ul class="techie">
		<li>Ruby on Rails</li>
		<li>PostgreSQL y Postgis</li>
		<li>Backbone, mucho Javascript y CSS3</li>
	</ul>
</div>

<p class="future">Si te laten los <span class="green">objetivos del proyecto</span> ó las <span class="techie">tecnologías anteriores</span>, entonces únete</p>

<p class="future">Siguenos en <span class="blue_">@wikicleta</span></p>