<div class="board centered shadow-lighter rounded-5">
	<h1>Este es el primer beta de <span class="name">Wikicleta</span></h1>
</div>
<br/>
<div class="board opt centered shadow-lighter rounded-5">
	<h2><%= link_to "Presenta tu bici en comunidad y conoce otras bicis", bikes_path %></h2>
</div>

<div class="board opt centered shadow-lighter rounded-5">
	<h2><%= link_to "Reporta algún incidente que te haya ocurrido en bici", map_incidents_path %></h2>
</div>

<p class="future">¡Mucho más por venir!</p>