<div class="welcome">
	<h1><span class="grey-beam">Wiki</span><span class="green-beam">cleta</span></h1>	
	<p><%= t('app.moto') %></p>
</div>

<ul class="routes">
	<li><%= link_to t('app.sections.incidents'), map_incidents_path, :class => 'section rounded-5 shadow-light' %></li>
	<li><%= link_to t('app.sections.bikebook'), bikes_path, :class => 'section rounded-5 shadow-light' %></li>
	<li><%= link_to t('app.sections.street_mark'), map_street_marks_path, :class => 'section rounded-5 shadow-light' %></li>
</ul>