<div class="welcome">
	<h1><span class="green-beam">ยก</span>Hola<span class="green-beam">!</span></h1>
	<h3><span class="green-beam">Estamos</span> construyendo algo grande para <span class="green-beam">nuestra</span> ciudad</h3>
	
</div>

<p><%= link_to "Reporte cletero", incidents_path, :class => 'section rounded-10' %></p>