<div class="poll-results">
	<% StreetMarkRanking.aspects.each do |aspect| %>
		<div class="question">
			<label><%= t("street_mark_rankings.aspects.#{aspect}.title") %></label>
			<div class="answers" >
				<% StreetMarkRanking.aspects_options[aspect].each do |option| %>
					<span class="value" id="<%= @street_mark_rankings["#{aspect}-#{option}"] %>"><%= t("street_mark_rankings.aspects.#{aspect}.options.#{option}") %></span>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
    $(function() {
			_.each($('.question').children('.answers'), function(answer) {
				var answers = {};
				_.each($(answer).children('.value'), function(value) {
					answers[value.id] = value;
				});

				if(_.size(answers) > 1) {
					var highest = _.max(_.keys(answers));
					$(answers[highest]).addClass('highest');
				}
			});
			
    });
</script>