<%= render 'shared/notice' %>

<% content_for :main_bar do %>
	<h1><%= t('app.name') %></h1>
<% end %>

<div id="container" class="masonry">
	<% @bikes.each do |bike| %>
		<%= render bike %>
	<% end %>
</div>


