<div class="sections to-right">
	<%= link_to t('pictures.manager.sections.uploads'), '#management/uploads', :class => 'uploads-launcher' %>
	<%= link_to t('pictures.manager.sections.uploaded'), '#management/uploaded', :class => 'uploaded-launcher' %>
</div>