<%= render :partial => 'places/representations/followers/unit', :collection => @place.followers, :as => :follower %>

<% if @place.followers_count <= 1 %>
	<h3><%= t('places.views.show.empty.followers') %></h3>
	<div class="follow">
		<%= render 'places/representations/followers/action_link' %>	
	</div>
<% end %>