body, html {
	background: url('/assets/crosses.png');
	font-family: calibri;
	font-size: 15px;
}

.board:hover {
	background-color:rgba(35,153,40,0.7);
	color: white;
}

.board h2 {
	font-size: 30px;
}

.board {
	color: #B7FFB4;
	margin-top: 14%;
	background-color:rgba(35,153,40,0.6);
	border: 1px solid white;
	padding: 10px 40px 10px 40px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.board a:hover {
	color:#3B5F30;
}

.board a {
	color: #DCDCDC;
	font-weight: bold;
}

.styled-form {
	margin-left: 10px;
}

.green input {
	background-color:#85C975;
}

.green input {
	border: 2px solid #90D081;
	color:#6A9F67;
}

.green input:hover {
	color:#396F36;
}

.actions {
	margin-top: 15px;
}

.actions a {
	margin-right: 20px;
}

.discrete-separator {
	height:1px;
	background-color:#94C09C;
	margin-top: 20px;
	margin-bottom: 20px;
}

.separator {
	background-color:#74C07B;
	margin-top: 60px;
}

ul {
	list-style-type: none;
}

ul li {
	margin-right: 30px;
	display: inline-block;
	color: white;
	font-size: 15px;
}

.facebook-sign-in,
.twitter-sign-in {
	display: inline-block;
	width: 150px;
	height: 24px;
	margin-top: 15px;
}

.twitter-sign-in {
	background: url('/assets/twitter_sign_in.png');
	background-position: 0 -24px;
}

.twitter-sign-in:hover {
	background: url('/assets/twitter_sign_in.png');
	background-position: -24 -48px;
}

.facebook-sign-in {
	background: url('/assets/facebook_sign_in.png');
	background-position: 0 -24px;
}

.facebook-sign-in:hover {
	background: url('/assets/facebook_sign_in.png');
	background-position: -24 -48px;
}

.connects {
	margin: 30px auto 0 auto;
	width: 150px;
}

.sheet {
	margin: 40px auto 0 auto;
	width: 400px;
	padding: 10px 30px 70px 30px;
	background-color:white;
}

.sheet h2 { color: #2B761E }

.green-button {
	background: -moz-linear-gradient(
		top,
		#227A2D 0%,
		#55A55B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#227A2D),
		to(#55A55B));
	border: 1px solid #2A8B44;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(35,153,40,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(35,153,40,1);
}

.green-button:hover {
	background: -moz-linear-gradient(
		top,
		#289435 0%,
		#55A55B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#289435),
		to(#55A55B));
	border: 1px solid #26813F;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(35,153,40,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(35,153,40,1);
}