html, body {width: 100%; height: 100%; overflow: hidden }
body {margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; font-family : calibri; }

.back-button, .close-button {
	font-size: 15px;
	width: 40px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
	color: #405E99;
	border-bottom: 1px solid #E5E6DD;
}

.back-button {
	margin-right: 10px;
}

.back-button:hover, .close-button:hover { 
	cursor: pointer;
	border-bottom: 1px solid #BBBDB5;
}

.menu {
	height: 40px;
	background-color:#3C3C3C;
}

.incidents-count:hover {
	color:#24AF23;
}
.incidents-count {
	color:#6CAF6A;
	margin-left: 25px;
}

.incidents-filter:hover {
	color: #FFF;
}

.incidents-filter {
	color:#8A8A8A;
	margin-left: 30px;
}

.stat {
	padding-top: 8px;
	display: inline-block;
	text-align: left;
	margin: 0px 15px;
}

.stat .number {
	color:#D2D2D2;
	font-size: 30px;
}

.stat .category {
	color:#8C8C8C;
	font-size: 14px;
	margin-top: -4px;
}

#submenu .options, #submenu .status, .mini-header, #itemlist, #itemdetails, #itemsfiltering, #newitem, #notifications
{
	z-index: 9999;
	position: fixed;
}

#submenu .options, #submenu .status {
	background: rgba(0,0,0,0.7);
	padding: 5px;
}

#submenu .options {
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	padding: 7px 10px;
	left: 50%; margin-left: -100px;
	top: 95px;
}

#submenu .status {
	left: 50%; margin-left: -200px;
	top: 80%;
	width: 400px;
	text-align: center;
	color:#FDFDFD;
	font-weight: bold;
}


.mini-header {
	padding: 2px 10px;
	width: 400px;
	height: 50px;
	background-color: white;
	left: 50%; margin-left: -200px;
}

.mini-header h1, #newitem h1 {
	margin: 10px 10px;
	font-size: 23px;
}

.mini-header h1 .type, #newitem h1 .type {
	font-size: 15px;
	margin-left: 8px;
	vertical-align: 2px;
	color: #EEE;
	background-color:#A6A6A6;
	padding: 0px 5px;
}

.mini-header .actions {
	position: relative;
	top: -37px;
	right: 20px;
	float: right;
}

#itemlist, #itemdetails, #newitem {
	border: 3px solid #A0A0A0;
	background-color: white;
}


#newitem {
	padding: 15px;
	width: 450px;
	left: 78%; margin-left: -260px;
	top: 14%;
}

.show-on-map:hover{
	background-color:#527850;
}
.show-on-map {
	clear: both;
	position: relative;
	top: -40px;
	font-weight: bold;
	right: -75%;
	font-size: 13px;
	color: #f7f7f7;
	border: 0px solid #336921;
	background-color:#699967;
	padding: 5px 10px;
}

#newitem .reporting-status {
	font-size: 13px;
	text-align: center;
}

#itemlist, #itemdetails {
	display: none;
	padding: 15px;
	width: 440px;
	left: 50%; margin-left: -220px;
	top: 30%;
}

#itemlist { padding-top: 20px }

#itemlist .numbers { margin-top: 20px; text-align: center }
#itemlist .numbers a:hover {
	background-color:#6F6F6F;
	color:#DEDEDE;
}

#itemlist .numbers a.selected {
	background-color:#9E9E9E;
	color:#1F1F1F;
	font-weight: bold;
}

#itemlist .numbers a {
	margin-right: 10px;
	font-size: 14px;
	color: #4F4F4F;
	background-color:#DCDCDC;
	padding: 2px 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#itemlist .item:hover {
	background-color: #F0F0F0;
}

#itemlist .item {
	font-size: 14px;
	padding: 5px;
	margin-bottom: 10px;
}

#itemlist .item .description {
	width: 100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;
}

#itemlist .item a.see-details:hover {
	text-decoration: underline;
}

#itemlist .item a.see-details {
	color: #6B6B6B;
}

#itemlist .item .time, #itemdetails .time {
	font-size: 13px;
	color:#8C8C8C;
}

#itemlist .item .reporter, #itemdetails .reporter {
	font-style: italic;
	font-size: 15px;
	color:#3E3E3E;
}

#itemdetails .type {
	font-size: 18px;
	font-weight: bold;
	color: #717171;
}

#itemdetails .description {
	font-size: 14px;
	margin-top: -15px;
	padding: 2px 10px;
}

#itemdetails .complaint_issued {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color:#757575;
	margin-bottom: 0px;
}

#itemdetails .extra-fields {
	background-color: #C9C9C9;
	padding: 10px;
}

#itemdetails .extra-fields span {
	font-weight: bold;
	color:#6E6E6E;
	font-size: 13px;
}

#itemdetails .extra-fields div {
	font-weight: bold;
	font-size: 15px;
	color:#565656;
}

#newitem .note {
	text-align: center;
	font-weight: 300;
	font-size: 15px;
} 

#newitem .actions {
	margin-right: 20px;
	margin-top: 10px;
}

#newitem .actions a:hover {
	text-decoration: underline;
}

#newitem .actions a {
	color:#797979;
	margin-right: 20px;
}

#newitem .error-message {
	color: #E3B0B5;
	background-color:#996464;
	padding: 5px 8px;
	font-size: 15px;
	text-align: center;
}

#notifications {
	font-size: 19px;
	text-align: center;
	background-color: rgba(0,102,0,0.7);
	color:#BDDCB4;
	border: 1px solid #C7E6B8;
	font-weight: bold;
	width: 300px;
	padding: 15px 10px;
	left: 50%; margin-left: -150px;
	top: 50%;
}

#itemsfiltering {
	z-index: 9995;
	width: 300px;
	left: 50%; margin-left: -173px;
	top: 93px;
	background-color: rgba(0,0,0,0.8);
	padding: 20px 30px 10px 30px;
	color: white;
	border: 2px solid #C0C0C0;
}

#itemsfiltering div {
	display: inline-block;
	margin-bottom: 10px;
}

#itemsfiltering label, #itemsfiltering span.as-label {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 10px 5px 0;
}

#itemsfiltering .group {
	margin-left: 5px;
	border: 1px solid #474747;
	padding: 5px;
	font-size: 13px;
}

#itemsfiltering .close-button:hover {
	color:#91AFFF;
}

#itemsfiltering .close-button {
	color: #D0E9FF;
	border: none;
	margin-right: 20px;
}

#itemsfiltering h2 {
	margin-top: 0px;
}

#itemsfiltering .separator {
	display: block;
	margin: 7px 0 10px 0;
	height: 1px;
	background-color: #353236;
}

#itemsfiltering .main-button {
	padding: 5px 10px;
	font-size: 12px;
}

#itemsfiltering .actions {
	text-align: center;
}

#itemsfiltering .note {
	font-size: 13px;
	text-align: center;
}

.kind-group .empty {
	text-align: center;
	font-style: italic;
	font-size: 13px;
}

ol#pagination {
	list-style: none;
}

ol#pagination li:hover {
	color:#505050;
	border: 1px solid #545454;
}

ol#pagination li {
	font-size: 15px;
	color:#A7A7A7;
	display: inline-block !important;
	padding: 0 7px;
	margin-right: 5px;
	border: 1px solid #A7A7A7;
	cursor: pointer;
}

ol#pagination li.current {
	color: #F6F6F6;
	background-color:#888;
	border: 1px solid #717171;
}

ol#pagination li.next, ol#pagination li.previous {
	color:#6D6D6D;
}