/*
 *= require_self
 *= require application.css
*/

body, html {
	font-size: 15px;
}

#notifications {
	display: none !important;
}

/* Welcome page styles */

.welcome { 
	margin-top: 180px
	p, h1 {
		text-align: center;
		margin: 0px;
	}
	p {
		color: #0C8D0C;
		font-style: italic;
		font-size: 30px;
	}
	h1 {
		color: #757575;
		font-size: 80px;
	}
}

.routes {
	text-align: center;
	width: 700px;
	margin: 100px auto 0 auto;
}

 a.section:hover {
	color: #619B54 !important;
}

 a.section {
	font-weight: bold;
	width: 150px;
	background-color:rgba(0,0,0,0.7);
	border: 1px solid white;
	padding: 10px 20px;
	color: #C1FFBC !important;
	text-align: center;
	font-size: 19px;
}

.board:hover {
	background-color:rgba(35,153,40,0.7);
	color: white;
}

.board {
	color: #B7FFB4;
	margin-top: 14%;
	background-color:rgba(35,153,40,0.6);
	border: 1px solid white;
	padding: 10px 40px 10px 40px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	
	h2 {
		font-size: 30px;
	}
	
	a:hover {
		color:#3B5F30 !important;
	}
	
	a, a:visited {
		color: #B7DCA7;
		font-weight: bold;
		font-size: 12px;
	}
	
	.separator {
		height:1px;
		background-color:#94C09C;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.button {
		position: relative;
		left: 240px;
	}
}

.green { 
	input {
		background-color:#85C975;
		border: 2px solid #90D081;
		color: #C5FFBE !important;
	}
	input: hover {
		color:white !important;
	}
}

ul {
	list-style-type: none;
}

ul li {
	margin-right: 30px;
	display: inline-block;
	color: white;
	font-size: 15px;
}

.facebook-sign-in,
.twitter-sign-in {
	display: inline-block;
	width: 150px;
	height: 24px;
	margin-top: 15px;
}

.twitter-sign-in {
	background: url('/assets/twitter_sign_in.png');
	background-position: 0 -24px;
}

.twitter-sign-in:hover {
	background: url('/assets/twitter_sign_in.png');
	background-position: -24 -48px;
}

.facebook-sign-in {
	background: url('/assets/facebook_sign_in.png');
	background-position: 0 -24px;
}

.facebook-sign-in:hover {
	background: url('/assets/facebook_sign_in.png');
	background-position: -24 -48px;
}

.connects {
	margin: 30px auto 0 auto;
	width: 150px;
}