/*
 *= require_self
 *= require shared/form.css
 *= require shared/bars.css
 *= require shared/main.css
 *= require shared/notifications.css
 *= require shared/comments.css
 *= require tipsy.css
*/

#container {
	width: 80% !important;
	margin-top: 10px;
	position: relative;
}

.bike {
	padding: 14px;
	border: 1px solid #E3E3E3;
	background-color: #F4F4F4;
  width: 250px;
	margin-right: 0px !important;
  margin: 10px;
  float: left;
	border: 1px solid #BABABA;
	
	.brand {
		padding: 0px;
		margin-top: -4px;
		
		text-transform: uppercase;
		font-size: 11px;
		color: #404040;
	}
	
	.status {
		height: 20px;
		
		p {
			a:hover {
				text-decoration: underline;
			}
			a {
				color: black;
			}
			
			vertical-align: 6px;
			font-size: 13px;
			display: inline-block;
			margin: 0px;
			margin-right: 15px;
			
			.count {
				padding: 2px;
				font-weight: bold;
			}
		}
	}
	
	h2 {
		a {
			color: #2B2B2B
		}
		margin: 0px;
	}
	
	.owner {
		margin-top: -5px;
		padding-bottom: 5px;
		text-align: right;
		font-size: 11px;
	}
}

#bike-comments {
	width: 860px;
	background-color: #E7E7E7;
	padding: 20px;
	
	h2 {
		text-align: center;
	}
	
	.actions {
		margin: -15px 80px 0 0;		
	}
	
	.field-counter {
		margin-left: 70px;
	}
	
	#comments-listing {
		.comment {
			font-size: 14px;
			margin-left: 100px;
			width: 620px;
			padding: 10px 20px;
			border-bottom: 1px solid #CFCFCF;
			
			.user {
				font-style: italic;
				color: #327E29;
			}
			
			.datetime {
				font-size: 12px;
			}
			
			.delete:hover {
				text-decoration: underline;
			}
			
			.delete {
				font-weight: bold;
				color: black;
				font-size: 13px;
			}
		}
	}
}

.photo img {
	border: 1px solid #8C8C8C;
}

#bike-details {
	width: 860px;
	background-color: white;
	padding: 20px;
	
	a.styled-link {
		vertical-align: 6px;
		margin-left: 25px;
		margin-right: 45px;
		color: #B6F3A7;
		font-weight: bold;
		font-size: 13px;
		padding-right: 10px;
	}
	
	.status {
		height: 100%;
		text-align:right;
		display: inline-block;
		background-color: #101010;
		
		p {
			color: #FFA09A;
			font-size: 15px;
			display: inline-block;
			margin: 0px;
			padding: 5px;
			margin-right: 5px;
			
			.count {
				padding: 2px;
				font-weight: bold;
			}
		}
	}
	
	a:hover {
		text-decoration: underline !important;
	}
	
	a.back {
		text-align: left;
	}
	
	h1 {
		text-align: right;
		color: #5C5C5C;
		margin-bottom: 5px;
		margin-top: 0px;
	}
	
	.photo {
		text-align: center;	
		margin: 20px auto 0 auto;
	}
	
	.description {
		margin-top: 20px;
		font-size: 17px;
		font-style: italic;
		color: #6B6B6B;
		text-align: center
	}
	
	.owner {
		border-bottom: 1px solid #E9E9E9;
		text-align: right;
	}
}

.status {
	div { display: inline-block }
	p {
		vertical-align: 6px;
	}

	p.likes {
		color: #B44E5D;
		font-weight: bold;
	}

	div.heart {
		margin-left: 5px;
		margin-top: 5px;
		height: 20px;
		width: 25px;
		cursor: pointer !important;
	}
	
	div.weak, div.strong:hover {
		background: url('/assets/heart_des.png');
	}
	
	div.strong, div.weak:hover {
		background: url('/assets/heart_sel.png');
	}
	
	.tooltip {
		display: none !important;
	}
}

.toolbox {
	margin-top: 30px;
	position: relative;
	background: url('/assets/bar.png');
	height: 31px;
	float: right; 
	right: -23px;
	width: 265px;
	
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-top-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;

	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}


.owner a {
	color: #515151;
	font-weight: bold;
}

.owner {
	font-style: italic;
	font-size: 14px;
	color: #858585;
}