/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {width: 100%; height: 100%; overflow: hidden }
body {margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px; font-family : calibri; }

.back-button, .close-button {
	height: 30px;
	width: 30px;
}

.back-button:hover, .close-button:hover { cursor: pointer }

.back-button {
	background-color:#99923B;
}

.close-button {
	background-color:#607199;
}

.menu {
	height: 40px;
	background-color:#3C3C3C;
}

.rounded-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rounded-bottom-5 {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

a {
	text-decoration: none;
}

.shadow-light {
	-moz-box-shadow: 0 0 8px #303030;
	-webkit-box-shadow: 0 0 8px #303030;
	box-shadow: 0 0 8px #303030;
}

.shadow-strong {
	-moz-box-shadow: 0 0 5px #1A1A1A;
	-webkit-box-shadow: 0 0 5px #1A1A1A;
	box-shadow: 0 0 5px #1A1A1A;
}

.to-right {
	float: right;
}

.separator {
	height: 1px;
	background-color:#D0D0D0;
	margin: 5px;
}

.actions .main-button:hover{
	border: 1px solid #1A4D80;
	background: -moz-linear-gradient(
		top,
		#5CAFE0 0%,
		#2466a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3e8fe0),
		to(#2466a3));
}

.actions .main-button {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #ffffff;
		padding: 6px 12px;
		background: -moz-linear-gradient(
			top,
			#3e8fe0 0%,
			#2466a3);
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#3e8fe0),
			to(#2466a3));
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #2466a3;
		-moz-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5),
			inset 0px -1px 0px rgba(051,120,189,1);
		-webkit-box-shadow:
			0px 1px 2px rgba(000,000,000,0.5),
			inset 0px -1px 0px rgba(051,120,189,1);
		text-shadow:
			0px -1px 0px rgba(015,031,046,1),
			0px 0px 0px rgba(255,255,255,0);
}

