/*
 *= require_self
 *= require shared/main.css 
 *= require incidents.css
 *= require street_marks.css
*/

.back-button, .close-button {
	font-size: 15px;
	width: 40px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
	color: #405E99;
	border-bottom: 1px solid #E5E6DD;
}

.back-button {
	margin-right: 10px;
}

.back-button:hover, .close-button:hover { 
	cursor: pointer;
	border-bottom: 1px solid #BBBDB5;
}

.show-on-map:hover{
	background-color:#527850;
}
.show-on-map {
	clear: both;
	position: relative;
	top: -40px;
	font-weight: bold;
	right: -75%;
	font-size: 13px;
	color: #f7f7f7;
	border: 0px solid #336921;
	background-color:#699967;
	padding: 5px 10px;
}

#submenu .options, #submenu .status, #itemlist, #itemdetails, #itemsfiltering, #newitem, .bottom-container, .search-box
{
	z-index: 9999;
	position: fixed;
}

.bottom-container, .search-box {
	bottom: 0px;
}

.bottom-container {
	padding-bottom: 20px !important;
}

#submenu .options, #submenu .status {
	background: rgba(0,0,0,0.7);
	padding: 5px;
}

#submenu .options {
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	padding: 7px 10px;
	left: 50%; margin-left: -100px;
	top: 95px;
}

#submenu .status {
	left: 50%; margin-left: -200px;
	top: 80%;
	width: 400px;
	text-align: center;
	color:#FDFDFD;
	font-weight: bold;
}

#newitem h1 {
	margin: 10px 10px;
	font-size: 23px;
}

.mini-header h1.large {
	margin-right: 120px;
}

#itemlist, #itemdetails, #newitem {
	border: 3px solid #A0A0A0;
	background-color: white;
}


#newitem {
	padding: 15px;
	width: 450px;
	left: 78%; margin-left: -260px;
	top: 14%;
}

#newitem .reporting-status {
	font-size: 13px;
	text-align: center;
}

#itemlist, #itemdetails {
	display: none;
	padding: 15px;
	width: 440px;
	left: 50%; margin-left: -220px;
	top: 30%;
}

#itemlist { padding-top: 20px }

#itemlist .numbers { margin-top: 20px; text-align: center }
#itemlist .numbers a:hover {
	background-color:#6F6F6F;
	color:#DEDEDE;
}

#itemlist .numbers a.selected {
	background-color:#9E9E9E;
	color:#1F1F1F;
	font-weight: bold;
}

#itemlist .numbers a {
	margin-right: 10px;
	font-size: 14px;
	color: #4F4F4F;
	background-color:#DCDCDC;
	padding: 2px 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#itemlist .item:hover {
	background-color: #F0F0F0;
}

#itemlist .item {
	font-size: 14px;
	padding: 5px;
	margin-bottom: 10px;
}

#itemlist .item .description {
	width: 100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;
}

#itemlist .item a.see-details:hover {
	text-decoration: underline;
}

#itemlist .item a.see-details {
	color: #6B6B6B;
}

#itemlist .item .time, #itemdetails .time {
	font-size: 13px;
	color:#8C8C8C;
}

#itemlist .item .reporter, #itemdetails .reporter {
	font-style: italic;
	font-size: 15px;
	color:#3E3E3E;
}

#itemdetails .type {
	font-size: 18px;
	font-weight: bold;
	color: #717171;
}

#itemdetails .description {
	font-size: 14px;
	margin-top: -15px;
	padding: 2px 10px;
}

#itemdetails .complaint_issued {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color:#757575;
	margin-bottom: 0px;
}

#itemdetails .extra-fields {
	background-color: #C9C9C9;
	padding: 10px;
	margin-bottom: 7px;
}

#itemdetails .extra-fields span {
	font-weight: bold;
	color:#6E6E6E;
	font-size: 14px;
}

#itemdetails .extra-fields div {
	font-weight: bold;
	font-size: 15px;
	color:#565656;
}

#newitem .note {
	text-align: center;
	font-weight: 300;
	font-size: 15px;
} 

#newitem .actions {
	margin-right: 20px;
	margin-top: 10px;
}

#newitem .actions a:hover {
	text-decoration: underline;
}

#newitem .actions a {
	color:#797979;
	margin-right: 20px;
}

#newitem .error-message {
	color: #E3B0B5;
	background-color:#996464;
	padding: 5px 8px;
	font-size: 15px;
	text-align: center;
}

#itemsfiltering {
	z-index: 9995;
	width: 300px;
	left: 50%; margin-left: -173px;
	top: 93px;
	background-color: rgba(0,0,0,0.8);
	padding: 20px 30px 10px 30px;
	color: white;
	border: 2px solid #C0C0C0;
}

#itemsfiltering div {
	display: inline-block;
	margin-bottom: 10px;
}

#itemsfiltering label, #itemsfiltering span.as-label {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 10px 5px 0;
}

#itemsfiltering .group {
	margin-left: 5px;
	border: 1px solid #474747;
	padding: 5px;
	font-size: 13px;
}

#itemsfiltering .close-button:hover {
	color:#91AFFF;
}

#itemsfiltering .close-button {
	color: #D0E9FF;
	border: none;
	margin-right: 20px;
}

#itemsfiltering h2 {
	margin-top: 0px;
}

#itemsfiltering .separator {
	display: block;
	margin: 7px 0 10px 0;
	height: 1px;
	background-color: #353236;
}

#itemsfiltering .button {
	padding: 5px 10px;
	font-size: 12px;
}

#itemsfiltering .actions {
	text-align: center;
}

#itemsfiltering .note {
	font-size: 13px;
	text-align: center;
}

ol#pagination {
	list-style: none;
}

ol#pagination li:hover {
	color:#505050;
	border: 1px solid #545454;
}

ol#pagination li {
	font-size: 15px;
	color:#A7A7A7;
	display: inline-block !important;
	padding: 0 7px;
	margin-right: 5px;
	border: 1px solid #A7A7A7;
	cursor: pointer;
}

ol#pagination li.current {
	color: #F6F6F6;
	background-color:#888;
	border: 1px solid #717171;
}

ol#pagination li.next, ol#pagination li.previous {
	color:#6D6D6D;
}

.search-box {
	background-color: rgba(0,128,0, 0.9);
	padding: 20px;
	border: 2px solid #FFF;
	width: 600px;
	left: 50%; margin-left: -322px;
	color: white;
	display: none; 
	
	.field {
		background-color: #E7E7E7;
		border: none;
	}
	
	.field:hover {
		-moz-box-shadow: 0 0 8px #C2ECB5;
		-webkit-box-shadow: 0 0 8px #C2ECB5;
		box-shadow: 0 0 8px #C2ECB5;
		border: none;
	}
	
	.map-search-msgs {
		font-size: 19px;
		margin-top: 0px;
		font-weight: bold;
		text-align: center;
		text-shadow: 2px 2px 3px #000;
	}
}
