// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reveals-picture-manager {
	display: inline-block;
	width: 26px;
	height: 20px;
	background: url(/assets/camera.png);
	float: right;
	margin-right: 25px;
	margin-top: 10px;
}

#picture-manager-modal {
	
	#container {
		padding: 0px;
		margin: 15px 0px 0px 0px;
		display: block !important;
		height: auto !important;
		
		.actions {
			text-align: center;
			width: 500px;
			a {
				font-size: 12px;
				margin-right: 10px;
			}

		}	
		
		.uploaded {
			width: 520px;
			
			.editable-picture {
				img {
					display: block;
				}		
				
				p {
					padding: 0px;
					margin-top: 8px;
					margin-bottom: 20px;
					font-style: italic;
					text-align: center;
					font-size: 12px;
				}		
				
				.option:hover {
					background-color: #D7D7D7;
				}
				
				.option {
					padding: 5px 10px;
					background-color: #DCDCDC;
					font-size: 13px;
					font-weight: bold;
					text-align: center;
					width: 80%;
					
					a {
						color: #365FB6;
						margin-right: 20px;
					}
					
					a:hover {
						text-decoration: underline;
					}
					
					span.main {
						margin-right: 20px;
					}
					
					.confirmation {
						display: none;
						a {
							margin-right: 15px;
						}
						
						span.message {
							color: #C55955;
							margin-right: 40px;
						}
						
						a.accepts {
							color: #2A7120;
						}
						
						a.declines {
							color: #061205;
						}
					}
				}
				
				
				.deleted {
					padding: 20px;
					background-color: #696969;
					font-weight: bold;
					font-size: 14px;
					text-align: center;
					color: white;
					
					p {
						color: #A0D67E;
						font-size: 13px;
						font-weight: 400;
						
					}
					
				}
			}
			
			.simplePagerNav {
				display: block;
				font-size: 14px;
				padding: 2px;
			}
		}
	}
	
	.sections {
		a {
			font-size: 12px;
			font-weight: bold;
			color: #666666;
			padding: 2px 10px;
			margin-bottom: 5px;
		}
		
		a.selected, a:hover {
			background-color: #8CBF78;
			border-radius: 8px;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
		}
		
		a.selected {
			color: white;
		}
		
		a:hover {
			color: #585855;
		}
	}
	
	#filelist {
		padding: 20px;
		padding-bottom: 0px;
		width: 500px;
		
		a {
			width: 60px;
			display: inline-block;
		}
		
		a.delete-file {
			color: #B43535;
		}
		
		a.uploading {
			color: #4F81C4;
		}
		
		a.completed {
			font-weight: bold;
			color: #68B64F;
		}
	}
	
	h2 {
		margin: 5px;
	}
	
	.file {
		display: block;
		font-size: 12px;
		margin-top: 4px;
		.name {
			display: inline-block;
			font-weight: bold;
			width: 300px;
		}
		.size {
			font-style: italic;
		}
		
		.error {
			display: inline-block;
			color: #932828;
		}
	}
}