/*
 *= require_self
 *= require shared/main.css 
*/

$plain_text_color: #545454;
$block_color: #F4F4F4;
$block_color_hover: white;
$black: #5A5A5A;

html, body { overflow: visible !important }
body {
	background-color: #EAEAEA;
	color: $black;
}

h3 {
	margin: 0px;
}

.mini-header {
	height: auto !important;
}

.mini-header .actions-list a.plain {
	margin-top: 5px;
	color: #3A5E94;
}

.mini-header .actions-list li {
	margin-left: 5px;
}

.mini-header .actions-list {
	float: right;
	margin: 10px 10px 0 0;
}

.size-of-300 {
	width: 300px !important;
	left: 50%; margin-left: -150px !important;
}

.size-of-200 {
	width: 200px !important;
	left: 50%; margin-left: -100px !important;
}

.size-of-250 {
	width: 250px !important;
	left: 50%; margin-left: -125px !important;
}

.mini-header h1 { 
	display: inline-block;
}

#map-box {
	margin-left: 30px;
	width: 25%;
}

#main-box {
	width: 70%;
	margin-top: 80px;
}

.general {
	padding: 20px 0 0px 0;
}

.general h1 {
	font-size: 35px;
	color: #508849;
	margin: 0px;
}

.general .contributor {
	margin-left: 10px;
	font-size: 14px;
	color:$black;
	font-style: italic;
}

.general p {
	font-style: italic;
	color: $plain_text_color;
	margin: 0px;
}

.social {
	text-align: right;
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
}

.social:hover {
	border: 1px solid #D4D4D4;
}

.changing-content, .mobility {
	background-color: $block_color;
}

.changing-content:hover, .mobility:hover {
	background-color: $block_color_hover;
}

.mini-header .actions a.button {
	border: 2px solid white !important;
	font-size: 12px !important;
}

.description {
	padding: 20px;
	text-align: justify;
	color: $plain_text_color;
}

ul.social li {
	padding: 7px 12px;
}

#container > div, .general h1, .bike, .mobility ul, .selection-box > div {
	display: inline-block;
}

.social a:visited, .social a {
	color: #465E9A;
	font-weight: bold
}

ul#status-bar { 
	padding-left: 0px;
	border-bottom: 1px solid #D2D2D2;
	background-color: #E9E9E9
}

ul#status-bar li, .mobility ul li { 
	padding: 2px 15px 2px 15px;
	font-weight: bold;
}

a.main:hover {
	background-color: #9A9A9A;
}

a.main {
	vertical-align: 17px;
	margin-left: 240px;
	font-size: 14px;
	background-color: #ADADAD;
	padding: 3px 6px;
	color: white !important;
	font-weight: bold;
}

ul#status-bar li {
	border-right: 1px solid #D2D2D2;
}

ul#status-bar li a,  .mobility ul li a { color: $black }

ul#status-bar li a span.count, .mobility ul li a span.count {
	font-size: 18px;
	display: block;
	margin-bottom: -8px;
}

ul#status-bar li a span.saying, .mobility ul li a span.saying {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
}

ul#status-bar li a:hover, .mobility ul li a:hover {
	color: #377B32;
}

.mobility ul {
	margin: 0px;
	padding-left: 20px;
}

.mobility ul li a:hover {
	color:#4D60A2 !important;
}

.mobility ul li a {
	vertical-align: 10px;
}

.mobility ul li a.last {
	padding-right: 20px;
	border-right: 1px solid #C4C4C4;
}

#main-box .actions .button {
	font-size: 11px;
	margin-right: 10px;
}

#main-box .listing {
	margin-top: 50px;
}

#main-box .listing h3 { 
	text-align: center;
	color: $black;
}

#tabbed-content {
	padding: 5px 30px;
}

.listing .comment:hover {
	background-color: #F5F5F5;
}

.listing .comment {
	padding: 5px;
	color: $black;	
}

.listing .comment .user {
	font-weight: bold;
	display: block;
}

.listing .comment .content {
	font-style: italic;
}

.listing .comment a:hover { text-decoration: underline }
.listing .comment a {
	margin-left: 20px;
	font-size: 13px;
	color: $black;	
}

#tabbed-content .header {
	text-align: right;
}

#tabbed-content .header a { 
	font-size: 13px !important;
}

#tabbed-content {
	padding-bottom: 20px;
}

.poll-results {
	margin-top: 20px;
}

.bike {
	height: 48px;
	width: 48px;
	background: url('/assets/bike.png');
}

.places { display: block; }

.simple-form { 
	background-color: white;
	width: 400px;
	padding: 38px;
	margin: auto auto 0 auto;
}

p.selected-from-map {
	text-align: center;
	font-weight: bold;
	color: #517D4D;
	font-size: 18px;
}


.places {
	
	margin-top: 20px;
	
	.item:hover {
		-moz-box-shadow: 0 0 8px #303030;
		-webkit-box-shadow: 0 0 8px #303030;
		box-shadow: 0 0 8px #303030;
		
	}
	
	.item {
		margin-bottom: 40px;
		height: 180px;
		width: 180px;
		border: 5px solid #C7C8C6;
		padding: 4px;
		background-color: white;
		margin-right: 32px;
		p.name a { color: white }
		p.name {
			-moz-box-shadow: 0 1px 3px #303030;
			-webkit-box-shadow: 0 1px 3px #303030;
			box-shadow: 0 0 4px #303030;
			background: rgba(0,61,245,0.8);
			font-weight: bold; 
			padding: 5px 10px;
			font-size: 13px;
			margin: 3px;
			text-align:center;
		}
		
	}
	
}