/*
 *= require_self
 *= require shared/form.css
 *= require shared/bars.css
 *= require shared/main.css
 *= require shared/notifications.css
 */

.mid-sheet {
	.menu {
		border-top: 10px solid #51B03B;
		background-color: #F3FFEE;
		padding: 70px 20px 30px 20px;
		margin-left: auto;
		margin-right: auto;
		.accounts-actions {
			margin-left: 10px;
			
			a {
				color: #2B3229;
				font-weight: bold;
				padding: 5px 10px;
				font-size: 14px;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				margin-right: 20px;
			}
			
			a:hover, a.selected {
				background-color:#9EDB90;
			}
			
			a.root {
				margin-right: 40px;
				background-color: #444444;
				color: #D6F3D0;
			}
			
			a.root:hover {
				color: #46D23A;
			}
		}
	}
	
	.name {
		padding: 10px 8px;
		background-color: #F2F1BD;
		margin-bottom: 40px;
		color: #505050;
		font-weight: bold;
		
		a {
			color: #5474B1;
			font-weight: normal;
		}
		
		a:hover {
			text-decoration: underline;
		}
	}
	
	.authorizations {
		padding: 10px;
		margin-bottom: 30px;
		
		a { text-decoration: none !important }
		
		.list {
			margin-top: 30px;
			margin-bottom: 20px;
			
			.account:hover {
				background-color: #D0E1FB;
			}
			
			.account {
				font-weight: bold;
				background-color: #E0F1FB;
				padding: 10px;
				margin: 5px;
				

				
				div { display: inline-block }
				
				.status {
					text-align: right;
					a {
						color: #1A253E;
					}
				}
				
				.provider {
					text-transform: uppercase;
					width: 400px;
					text-align: center;
				}
			}
		}
	}
	
	label { 
		display: inline-block !important;
		width: 200px;
		margin-left: 30px;
	}
	input, textarea { display: inline-block !important }
	
	.actions {
		margin-top: 10px;
	}
	
}