<ul class="cats inlined">
	<% Category.all.each do |cat| %>
		<li>
			<%= check_box_tag cat.standard_name, '', true , :class => "item", :id => "cat-#{cat.id}" %>
			<%= I18n.t("categories.all.#{cat.standard_name}") %>
		</li>
	<% end %>
</ul>