<div id="comment-<%= comment.id %>">
	<div class="image"></div>
	<%= comment.user.username %>
	<%= comment.content %>
	
	<% if !current_user.nil? && current_user.owns_comment?(comment) %>
		<%= link_to t('places.subviews.show.comments.actions.delete'), delete_place_comment_path(comment), 
			  :method => :delete, :remote => true, :confirm => t('places.subviews.show.comments.actions.confirm') %>		
	<% end %>
</div>