<div id="place-<%= place.id %>" class="item rounded-5 inlined">
	<div class="order-<%= place_counter %>"></div>
	
	<div class="image"></div>
	<p class="name rounded-10"><%= link_to place.name, place_path(place) %></p>
	
</div>